<ul class="nav flex-column nav-pills">
    <li class="nav-item" >
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/my-profile" routerLinkActive="active">My Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/my-tickets" routerLinkActive="active">My Tickets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
    </li>
</ul>